---
CVP_DEVICES:
{% for item in ztp.clients %}
  {{item.group}}{{delimiter}}{{ item.name }}:
    name: {{item.group}}{{delimiter}}{{ item.name }}
    parentContainerName: {{ item.group }}
    configlets:
        - {{item.group}}{{delimiter}}{{ item.name }}
    imageBundle: []
{% endfor %}

CVP_CONTAINERS:
  STAGING:
    parent_container: Tenant

CVP_CONFIGLETS:
  GLOBAL-ALIASES: {% raw %}"{{ lookup('file', 'eos_configs/common.cfg') }}"{% endraw %}

{% for item in ztp.clients %}
  {{item.group}}{{delimiter}}{{item.name}}: {% raw %}"{{ lookup('file', 'eos_configs/base_configs/{% endraw %}{{item.group}}{{delimiter}}{{item.name}}.cfg'{% raw %}) }}"{% endraw %}

{% endfor %}
