---
CVP_DEVICES_INIT:
{% for item in ztp.clients %}
  '{{item.group}}{{delimiter}}{{ item.name }}':
    name: '{{item.group}}{{delimiter}}{{ item.name }}'
    parentContainerName: {{ item.group }}
    configlets:
        - '{{item.group}}{{delimiter}}{{ item.name }}'
{% endfor %}

CVP_DEVICES_TASKER:
{% for item in ztp.clients %}
  '{{item.group}}{{delimiter}}{{ item.name }}':
    name: {{item.group}}{{delimiter}}{{ item.name }}
    parentContainerName: {{ item.group }}
    configlets:
        - {{item.group}}{{delimiter}}{{ item.name }}
        - LAB06-ALIAS
{% endfor %}

CVP_CONTAINERS:
  STAGING:
    parent_container: Tenant
{% for item in ztp.groupAttendees %}
  {{ item }}:
    parent_container: Tenant
{% endfor %}

CVP_CONFIGLETS:
  LAB06-ALIAS: "alias a{% raw %}{{ 999 | random }}{% endraw %} show version"
{% for item in ztp.clients %}
  {{item.group}}{{delimiter}}{{item.name}}: {% raw %}"{{ lookup('file', 'eos_configs/base_configs/{% endraw %}{{item.group}}{{delimiter}}{{item.name}}.cfg'{% raw %}) }}"{% endraw %}

{% endfor %}